body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    border: 3px solid #151515;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 220px;
}

#display {
    width: 200px;
    height: 60px;
    text-align: right;
    padding: 10px;
    font-size: 2em;
    border: none;
    background-color: #ed1212;
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    height: 60px;
    border: none;
    background-color: #1100ff;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: 2px black solid;
    color: white;
}

.btn:hover {
    background-color: #ddd;
}

.zero {
    grid-column: span 2;
}
